{% extends 'base.html' %}
{% block content %}

<div class="">
    <div class="container" >
        <div class="">
            <div class="card">
                <div class="card-header"><span class="fa fa-search"></span>&nbsp; Search Data | Only the records of the last 30 days are availabel here </div>
                <br><br>
               <div class="col-sm-9 offset-sm-1">
                <form class="d-flex" role="search" method="get" action="{% url 'search' %}">
                    <input class="form-control me-2" name="query" type="search" placeholder="Search"
                        aria-label="Search">
                    <button class="btn btn-dark" type="submit"><span class="fa fa-search"></span>&nbsp; </button>
                </form>
               </div>
                <br><br><br>
                <div class="col-md-12">
                    <table class="table table-bordered table-striped" style="border: 1;">
                        <tr>
                            <th>#</th>
                            <th>Vehicle Number</th>
                            <th>Type</th>
                            <th>Area</th>
                            <th>Charge</th>
                            <th>Arrival time</th>
                            <th>Status</th>
                        </tr>
                        {% for x1 in search %}
                        <tr>
                            <td>{{ x1.id }}</td>
                            <td>{{x1.vehicle_no}}</td>
                            <td>{{x1.vehicle_type}}</td>
                            <td>{{x1.parking_area_no}}</td>
                            <td><span class="fa fa-inr" style="color: gold;"></span>&nbsp; {{x1.parking_charge}}</td>
                            <td>{{x1.arrival_time}}</td>
                            <td class="{% if x1.status == 'parked' %}badge badge-pill badge-success {% elif x1.status == 'leaved' %}badge badge-pill badge-danger {% endif %} my-2">{{x1.status}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock%}